<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="2.0.0.0" id="CallCenter">
  <author href="http://www.ibnux.net/" rim:copyright="Copyright 2010-2012 iBNuX">Developer</author>
  <name>Call Center</name>

  <description>
    database Informasi Operator
  </description>
		
  <rim:category name="media"/>	

  <rim:permissions>
    <rim:permit>access_shared</rim:permit>
  </rim:permissions>

  <icon src="icon.png"/>

  <content src="index.html" rim:allowInvokeParams="true" />

  <feature id="blackberry.app" />
  <feature id="blackberry.invoke" />
  <feature id="blackberry.system" />
	<access uri="http://ibnux.com" subdomains="true"></access>
	 <license href="http://www.ibnux.com/"/>
	
</widget>